<md-card>
        <md-input-container>
            <input style="width:350px" mdInput placeholder="First Name">
        </md-input-container>
        <md-input-container>
            <input style="width:350px" mdInput placeholder="Last Name">
        </md-input-container>
        <md-input-container>
            <input style="width:350px" type="email" mdInput placeholder="Email">
        </md-input-container>
        <md-input-container>
            <input style="width:350px" type="password" mdInput placeholder="Password">
        </md-input-container>
        <md-input-container>
            <input style="width:350px" type="password" mdInput placeholder="Confirm Password">
        </md-input-container>
        <br>
        <button md-raised-button color="primary">Register</button>
</md-card>